.Card {
    width: 350px;
    max-width: 350px;
    border-radius: 1rem;
    margin: 20px;
    display: block;
}

.imageContainer{
    height: 10rem;
    width: 60%;
    border-radius: 1rem;
}

.image {
    height: 10rem;
    border-radius: 1rem;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    margin-bottom: 0;
}