.mainForm {
    height: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.formHead {
    background-color: white;
    width: 60vh;
    padding: 20px 5vh 20px;
    border-radius: 8px 8px 0px 0px;
}

/************************Form**************************/
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.formBackground {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.Form {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 60vh;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
}