.background {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBox {
    height: 50px;
    padding: 5px 10px;
    width: 460px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.suggestionBox {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}