 :global {
    font-family: 'Roboto', sans-serif;
}

.plannedTrips {
    display: flex;
    justify-content: left;
    margin: auto;
    width: 90%;
    overflow-x: auto;
}

::-webkit-scrollbar {
    display: none;
}

.Card {
    width: 350px;
    max-width: 350px;
    border-radius: 2rem;
    margin: 20px;
    display: block;
}

.Heading {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 6%;
    display: flex;
    justify-content: left;
}

h2 {
    display: flex;
    justify-content: left;
    margin-left: 6%;
}

